* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f8f9ff;
    color: #1f2937;
}

header {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    width: 90%;
    max-width: 1200px;
    height: 80px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
}

.logo span {
    font-size: 2rem;
    font-weight: 700;
    color: #1d4ed8;



}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-size: 18px;

    transition: .3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #1d4ed8;
    font-weight: 600;
}

.btn-primary {
    display: inline-block;
    padding: 14px 34px;
    border-radius: 12px;
    text-decoration: none;
    background: #1d4ed8;
    color: #fff;
    font-weight: 600;
    transition: .3s;
}

.btn-primary:hover {
    background: #0d3cb8;
}

.hero {
    width: 90%;
    max-width: 1200px;
    margin: 70px auto;
    text-align: center;
}

.tag {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 30px;
    background: #dbeafe;
    color: #1d4ed8;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    
    text-transform: uppercase;
}

.hero h1 {
    font-size: 72px;
    line-height: 1.1;
    margin: 30px 0;
    font-weight: 700;
}

.hero h1 span {
    color: #1d4ed8;
}

.hero p {
    max-width: 750px;
    margin: auto;
    font-size: 22px;
    line-height: 1.7;
    color: #555;
}

.hero-buttons {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-secondary {
    display: inline-block;
    padding: 14px 34px;
    border-radius: 12px;
    text-decoration: none;
    border: 1px solid #d1d5db;
    background: #fff;
    color: #222;
    font-weight: 600;
    transition: .3s;
}

.btn-secondary:hover {
    background: #f3f4f6;
}

.hero-image {
    margin-top: 70px;
}

.hero-image img {
    width: 100%;
    border-radius: 30px;
    display: block;
}

